.header {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
#login {
    display: flex; /* or inline-flex */
    align-items: 'center';
    justify-content: 'center';
}
